/* 12 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif, system-ui;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 5 */
.dashboard-grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 1fr;
    /* 20 */
    grid-template-columns: minmax(256px, 1fr) minmax(400px, 8fr);
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
}

/* 6 */
.sidebar-container {
    grid-area: sidebar;
    background-color: #1992d4;
    /* 13 */
    color: white;
    /* 19 */
    padding: 1rem;
}

/* 7 */
.header-container {
    grid-area: header;
    background-color: white;
    box-shadow: 0px 5px 5px lightgrey;
    /* 9 */
    z-index: 1;
    /* 26 */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(400px, 1fr) minmax(300px, 1fr);
}

/* 8 */
.main-content-container {
    grid-area: main-content;
    background-color: #e2e8f0;
}

/* 13 */
.sidebar-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.sidebar-header,
.sidebar-main,
.sidebar-misc {
    /* 17 */
    display: grid;
    /* 21 */
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 3rem;
}

/* 14 */
.sidebar-container svg path {
    fill: white;
}

/* 22 */
.sidebar-container div :is(a, span) {
    padding: 0.75rem;
}

/* 23 */
.sidebar-container svg {
    width: 22px;
}

.sidebar-header svg {
    width: 48px;
}

/* 24 */
:is(.sidebar-header, .sidebar-main, .sidebar-misc) svg {
    justify-self: center;
}

/* 25 */
.sidebar-container a {
    color: white;
    text-decoration: none;
}

.sidebar-container a:hover {
    color: lightblue;
}

/* 28 */
.header-profile .header-avatar {
    width: 48px;
    height: 48px;
    background-color: lightgrey;
    border-radius: 50%;
}


.header-greeting .header-avatar {
    width: 64px;
    height: 64px;
    background-color: lightgrey;
    border-radius: 50%;
}