/* 12 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif, system-ui;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 5 */
.dashboard-grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 1fr;
    /* 20 */
    grid-template-columns: minmax(256px, 1fr) minmax(400px, 8fr);
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
}

/* 6 */
.sidebar-container {
    grid-area: sidebar;
    background-color: #1992d4;
    /* 13 */
    color: white;
    /* 19 */
    padding: 1rem;
}

/* 7 */
.header-container {
    grid-area: header;
    background-color: white;
    box-shadow: 0px 5px 5px lightgrey;
    /* 9 */
    z-index: 1;
    /* 26 */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(400px, 1fr) minmax(200px, 1fr);
    /* 31 */
    padding: 1rem 3rem;
}

/* 8 */
.main-content-container {
    grid-area: main-content;
    background-color: #e2e8f0;
    /* 35 */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 350px;
    padding: 2rem 1rem;
    gap: 2rem;
    grid-template-areas:
        "cards announcements"
        "cards trending";
}

/* 13 */
.sidebar-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.sidebar-header,
.sidebar-main,
.sidebar-misc {
    /* 17 */
    display: grid;
    /* 21 */
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 3rem;
}

/* 14 */
.sidebar-container svg path {
    fill: white;
}

/* 22 */
.sidebar-container div :is(a, span) {
    padding: 0.75rem;
}

/* 23 */
.sidebar-container svg {
    width: 22px;
}

.sidebar-header svg {
    width: 48px;
}

/* 24 */
:is(.sidebar-header, .sidebar-main, .sidebar-misc) svg {
    justify-self: center;
}

/* 25 */
.sidebar-container a {
    color: white;
    text-decoration: none;
}

.sidebar-container a:hover {
    color: lightblue;
}

/* 28 */
.header-profile .header-avatar {
    width: 48px;
    height: 48px;
    background-color: #e2e8f0;
    border-radius: 50%;
}

/* 29 */
.header-greeting .header-avatar {
    width: 64px;
    height: 64px;
    background-color: #e2e8f0;
    border-radius: 50%;
}

/* 31 */
.header-search-bar {
    padding: 1rem;
    display: grid;
    grid-template-columns: 22px 1fr;
}

.header-search-bar input[type="search"] {
    font-size: 1rem;
    padding: 8px 10px;
    margin-left: 1rem;
    background-color: #e2e8f0;
    border: none;
    border-radius: 12px;
}

.header-search-bar input[type="search"]:focus {
    outline: 1px solid lightgrey;
}

.header-search-bar svg {
    align-self: center;
}

/* 32 */
.header-profile {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-profile span {
    font-weight: bold;
    padding-left: 1rem;
}

.header-profile button {
    margin-right: 1rem;
    background: none;
    border: none;
}

.header-profile button:hover {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>bell-off</title><path d="M2.79,4.46L3.5,3.75L20.25,20.5L19.54,21.21L17.34,19H3L6,16V10.5C6,9.67 6.18,8.88 6.5,8.18L2.79,4.46M12,4.5C12,4.22 11.78,4 11.5,4C11.22,4 11,4.22 11,4.5V6.03C10,6.14 9.09,6.58 8.4,7.24L7.69,6.53C8.33,5.92 9.12,5.46 10,5.21V4.5C10,3.67 10.67,3 11.5,3C12.33,3 13,3.67 13,4.5V5.21C15.31,5.86 17,8 17,10.5V15.84L16,14.84V10.5C16,8.18 14.25,6.28 12,6.03V4.5M7,10.5V16.41L5.41,18H16.34L7.28,8.94C7.1,9.43 7,9.95 7,10.5M11.5,22C10.29,22 9.28,21.14 9.05,20H10.09C10.29,20.58 10.85,21 11.5,21C12.15,21 12.71,20.58 12.91,20H13.95C13.72,21.14 12.71,22 11.5,22Z" /></svg>');
    border-radius: 50%;
    cursor: pointer;
}

/* 33 */
.header-greeting {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

.header-greeting div {
    padding-left: 1rem;
}

.header-greeting div p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
}

.header-greeting a {
    color: black;
}

.header-greeting a:visited {
    color: #1992d4;
}

/* 34 */
.header-buttons {
    display: flex;
    justify-content: end;
    align-items: center
}

.header-buttons button {
    padding: 1rem;
    margin-right: 2rem;
    width: 7rem;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: #1992d4;
}

.header-buttons button:hover {
    background-color: #40b0f0;
    cursor: pointer;
}

/* 36 */
.projects-container {
    grid-area: cards;
    display: grid;
    grid-template-rows: minmax(2rem, auto) 1fr;
}

/* 37 */
.projects-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* 38 */
.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    background-color: white;
    text-decoration: none;
    border: 1px solid lightgrey;
    border-left: 10px solid #f0b429;
    border-radius: 8px;
    box-shadow: 0 0 8px grey;
    padding: 1rem;
}

.card p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.card-buttons {
    display: flex;
    justify-content: end;
}

.card button {
    background: none;
    border: none;
    margin-left: 1rem;
    text-align: center;
}

.card button:hover {
    opacity: 50%;
    cursor: pointer;
}

/* 40 */
.announcements-container {
    grid-area: announcements;
    display: grid;
    grid-template-rows: minmax(2rem, auto) 1fr;
}

.announcements-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.announcements {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 8px;
    box-shadow: 0 0 8px grey;
    padding: 1rem;
}

.announcement a {
    color: black;
    text-decoration: none;
}

.announcement+.announcement {
    padding: 1rem 0;
    border-top: 1px solid lightgrey;
}

.announcements>.announcement:first-child {
    padding-bottom: 1rem;
}

.announcement h4 {
    font-size: 0.8rem;
}

.announcement p {
    font-size: 0.7rem;
}

.announcement p:hover {
    color: grey;
}

/* 42 */
.trending-container {
    grid-area: trending;
    display: grid;
    grid-template-rows: minmax(2rem, auto) 1fr;
}

.trending-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.trendings {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 8px;
    box-shadow: 0 0 8px grey;
    padding: 1rem;
}

.trending {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 1rem;
    padding: 1rem;
}

.trending a {
    text-decoration: none;
    color: black;
}

.trending a:visited {
    color: #1992d4;
}

.trending-avatar {
    text-align: center;
    align-self: center;
    background-color: #1992d4;
    justify-self: center;
    border-radius: 50%;
    font-size: 2rem;
    width: 48px;
    height: 48px;
}

.trending-domain {
    font-size: 0.8rem;
    font-weight: bold;
}

.trending-project {
    font-size: 0.8rem;
}